
<%= render 'particle' %>

<div class="content-container">
  <div class="scroll-box">
    <h2 class="about-page-header">About</h2>
    <div class="page-box big-box">
      <div class="row">
        <div class="col-md-3 col-cs-12" style="text-align: center;">
          <img class="my-img" src="https://res.cloudinary.com/dcmqib0ib/image/upload/v1533023438/me1.jpg" alt="">
        </div>
        <div class="col-md-9 col-cs-12">
          <p class="about-text">I am a developer, who combines high level <span class="about-span">programming skills</span> with deep knowledge in <span class="about-span">business and mechanical engineering</span>. This makes me able to not only create a beautiful and responsive website, but also to connect it meaningful to your business model and technology.</p>
      </div>
      </div>
    </div>
  </div>


  <div class="examples-wrapper" id="example-anchor">
    <h2 class="example-page-header">Example pages</h2>
    <div class="example-bar">
      <nav class="fill">
        <ul class="example-list list-inline">
          <% i = 0 %>
          <div class="row" style="width: 100%;">
            <% @examples.each do |example| %>
            <div class="col-lg-3 col-sm-6 col-xs-12 example-list-item-position">
              <li class="list-inline-item <%= example.name %> example-list-hover" data-content="<%= @description[i] %>"><%= link_to example.name, example %></li>
            </div>
            <% i += 1 %>
            <% end %>
          </div>
        </ul>
      </nav>
    </div>


    <div class="examples-descriptions">
      <div class="video">
        <%= video_tag("art.mov", :autoplay => true, :loop => true, :size => "433x240") %>
      </div>
      <p class="example-description"></p>
    </div>

  </div>
  <%#= render 'timeline' %>
  <%= render 'knowledge' %>



  <div class="contact-info">
    <h2 class="contact-page-header">Feel free to contact me</h2>
    <nav class="fill contact-info-wrapper" style="width: 100%;">
      <ul class="example-list row">
        <li class="contact-list-item col-md-4 col-xs-12"><a class="" href="https://www.linkedin.com/in/nikolai-lambsdorff-1b2241b6/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="contact-list-item col-md-4 col-xs-12"><a class="contact-mail-link" href="mailto:nikolai.lambsdorff@gmx.de">nikolai.lambsdorff@gmx.de</a></li>
        <li class="contact-list-item col-md-4 col-xs-12"><a class="" href="https://github.com/nikolailambs" target="_blank"><i class="fab fa-github"></i></a></li>
      </ul>
    </nav>
  </div>
</div>




<script>
  $(".example-list-hover").hover(function() {

    $('.example-description').html($(this).attr("data-content"));
    changeSource($(this).find("a").text().toLowerCase());
      // $('.video').removeClass("hidden-video");
      // $('.examples-descriptions').stop().animate({ height: 400 }, "slow" );

    }, function() {

      // $('.example-description').html("");
      // $('.video').addClass("hidden-video")
      // $('.examples-descriptions').stop().animate({ height: 0 }, "slow" );

    });

  function changeSource(url) {
   source = "https://res.cloudinary.com/dcmqib0ib/video/upload/v1532352822/"+url+".mov";
   $('video').attr('src', source);
   $('video').load();
 };

</script>
