    </div>
    <div class="home-page-wrapper">
      <div class="text-wrapper">
        <div class="top-bar">
          <div class="window-dots">
            <div class="window-close"></div>
            <div class="window-minimize"></div>
            <div class="window-maximize"></div>
          </div>
        </div>
        <div id="home-text-window" style="font-family: monospace;"><br>/**<br>*<br>*  Hi, I'm <span style="color: #2AABE3">Nikolai Lambsdorff</span>.<br>*  I love creating <span style="color: #FEA73A">unique products</span> and <span style="color: #ED5863">innovative apps</span>.<br>*  Feel free to contact me under <a class="home-mail-link" href="mailto:nikolai.lambsdorff@gmx.de">nikolai.lambsdorff@gmx.de</a><br>*<br>**/</div>
      </div>

      <div class="content-container">
        <div class="row">
          <div class="col-lg-12">
            <div class="scroll-box">
              <div class="page-box big-box">
                I am a developer, that combines high level <span style="color: #3C91E6;">programming skills</span> with deep knowledge in <span style="color: #3C91E6;">business and mechanical engineering</span>. This makes me able to not only create a beautiful and responsive website, but also to connect it meaningful to your business model and technology.
              </div>
            </div>
          </div>
        </div>

    <!-- <div class="scroll-box">
      <div class="banner code-hover" style='background-image: linear-gradient(-225deg, rgba(0,10,10,0.4) 40%, rgba(0,10,10,0.2) 80%), url("https://res.cloudinary.com/dcmqib0ib/image/upload/banner6.jpg"); height: 50vh !important;'>
        <h4 style="top: <%#= @rand_top[0] %>%;left: <%#= @rand_left[0] %>%;">HTML</h4>
        <h4 style="top: <%#= @rand_top[1] %>%;left: <%#= @rand_left[1] %>%;">CSS</h4>
        <h4 style="top: <%#= @rand_top[2] %>%;left: <%#= @rand_left[2] %>%;">JavaScript</h4>
        <h4 style="top: <%#= @rand_top[3] %>%;left: <%#= @rand_left[3] %>%;">Ruby</h4>
        <h4 style="top: <%#= @rand_top[4] %>%;left: <%#= @rand_left[4] %>%;">SQL</h4>
        <h4 style="top: <%#= @rand_top[5] %>%;left: <%#= @rand_left[5] %>%;">Rails</h4>
        <h4 style="top: <%#= @rand_top[6] %>%;left: <%#= @rand_left[6] %>%;">SCSS</h4>
        <h4 style="top: <%#= @rand_top[7] %>%;left: <%#= @rand_left[7] %>%;">jQuery</h4>
        <h4 style="top: <%#= @rand_top[8] %>%;left: <%#= @rand_left[8] %>%;">Bootstrap</h4>
        <h4 style="top: <%#= @rand_top[9] %>%;left: <%#= @rand_left[9] %>%;">Regex</h4>
      </div>
    </div> -->

    <div class="examples-wrapper" id="example-anchor">
      <h2 style="display: flex; justify-content: center;">Example pages</h2>
      <div class="example-bar">
        <nav class="fill">
          <ul class="example-list list-inline">
            <% i = 0 %>
            <div class="row" style="width: 100%;">
              <% @examples.each do |example| %>
              <div class="col-lg-3 col-sm-6 col-xs-12 example-list-item-position">
                <li class="list-inline-item <%= example.name %> example-list-hover" data-content="<%= @description[i] %>"><%= link_to example.name, example %></li>
              </div>
              <% i += 1 %>
              <% end %>
            </div>
          </ul>
        </nav>
      </div>


      <div class="examples-descriptions">
        <div class="video hidden-video">
          <%= video_tag("art.mov", :autoplay => true, :loop => true, :size => "433x240") %>
        </div>
        <p class="example-description"></p>
      </div>

    </div>
  </div>
  <%= render 'timeline' %>



  <div class="contact-info">
    <nav class="fill" style="width: 100%;">
      <ul class="example-list row">
        <li class="contact-list-item col-lg-3 col-xs-12"><a class="" href="https://www.linkedin.com/in/nikolai-lambsdorff-1b2241b6/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="contact-list-item col-lg-3 col-xs-12"><a class="contact-mail-link" href="mailto:nikolai.lambsdorff@gmx.de">nikolai.lambsdorff@gmx.de</a></li>
        <li class="contact-list-item col-lg-3 col-xs-12"><a class="" href="https://github.com/nikolailambs" target="_blank"><i class="fab fa-github"></i></a></li>
      </ul>
    </nav>
  </div>


    <!-- <div class="row">
      <div class="col-lg-6">
        <div class="scroll-box">
          <div class="page-box half-box">
            *I am able to build complex websites and webapps. I have learnd and impoved software development through several programming courses and projects.*
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="scroll-box-delayed">
          <div class="page-box half-box">
            *On the other side, I have a lot of knowledge in business through studies and work experience on the one side. I am able to connect important points like marketing and strategy with website development.*
          </div>
        </div>
      </div>
    </div>
  -->

  <script>
    $(".example-list-hover").hover(function() {

      $('.example-description').html($(this).attr("data-content"));
      changeSource($(this).find("a").text().toLowerCase());
      $('.video').removeClass("hidden-video");
      $('.examples-descriptions').stop().animate({ height: 400 }, "slow" );

    }, function() {

      $('.example-description').html("");
      $('.video').addClass("hidden-video")
      $('.examples-descriptions').stop().animate({ height: 0 }, "slow" );

    });

    function changeSource(url) {
     source = "https://res.cloudinary.com/dcmqib0ib/video/upload/v1532352822/"+url+".mov";
     $('video').attr('src', source);
     $('video').load();
   };

 </script>
