    </div>
  <!--   <div class="home-page-wrapper">
      <div class="text-wrapper">
        <div class="top-bar">
          <div class="window-dots">
            <div class="window-close"></div>
            <div class="window-minimize"></div>
            <div class="window-maximize"></div>
          </div>
        </div>
        <div id="home-text-window" style="font-family: monospace;"><br>/**<br>*<br>*  Hi, I'm <span style="color: #2AABE3">Nikolai Lambsdorff</span>.<br>*  I love creating <span style="color: #FEA73A">unique products</span> and <span style="color: #ED5863">innovative apps</span>.<br>*  Feel free to contact me under <a class="home-mail-link" href="mailto:nikolai.lambsdorff@gmx.de">nikolai.lambsdorff@gmx.de</a><br>*<br>**/</div>
      </div> -->
      <%= render 'particle' %>

      <div class="content-container">
        <div class="scroll-box">
          <h2 class="about-page-header">About</h2>
          <div class="page-box big-box">
            <img style="border-radius: 50%; max-width: 300px; margin-right: 30px;" src="https://res.cloudinary.com/dcmqib0ib/image/upload/w_700,h_700,c_crop,g_face/w_200/e_grayscale/v1532816900/me.jpg" alt="">
            <p>I am a developer, that combines high level <span style="color: #f7f7f7;background-color: #88CCF1;">programming skills</span> with deep knowledge in <span style="color: #f7f7f7; background-color: #88CCF1;">business and mechanical engineering</span>. This makes me able to not only create a beautiful and responsive website, but also to connect it meaningful to your business model and technology.</p>
          </div>
        </div>


        <div class="examples-wrapper" id="example-anchor">
          <h2 class="example-page-header">Example pages</h2>
          <div class="example-bar">
            <nav class="fill">
              <ul class="example-list list-inline">
                <% i = 0 %>
                <div class="row" style="width: 100%;">
                  <% @examples.each do |example| %>
                  <div class="col-lg-3 col-sm-6 col-xs-12 example-list-item-position">
                    <li class="list-inline-item <%= example.name %> example-list-hover" data-content="<%= @description[i] %>"><%= link_to example.name, example %></li>
                  </div>
                  <% i += 1 %>
                  <% end %>
                </div>
              </ul>
            </nav>
          </div>


          <div class="examples-descriptions">
            <div class="video">
              <%= video_tag("art.mov", :autoplay => true, :loop => true, :size => "433x240") %>
            </div>
            <p class="example-description"></p>
          </div>

        </div>

      </div>

      <%= render 'timeline' %>



      <div class="contact-info">
        <h2 class="contact-page-header">Feel free to contact me</h2>
        <nav class="fill contact-info-wrapper" style="width: 100%;">
          <ul class="example-list row">
            <li class="contact-list-item col-md-4 col-xs-12"><a class="" href="https://www.linkedin.com/in/nikolai-lambsdorff-1b2241b6/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="contact-list-item col-md-4 col-xs-12"><a class="contact-mail-link" href="mailto:nikolai.lambsdorff@gmx.de">nikolai.lambsdorff@gmx.de</a></li>
            <li class="contact-list-item col-md-4 col-xs-12"><a class="" href="https://github.com/nikolailambs" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </nav>
      </div>






      <script>
        $(".example-list-hover").hover(function() {

          $('.example-description').html($(this).attr("data-content"));
          changeSource($(this).find("a").text().toLowerCase());
      // $('.video').removeClass("hidden-video");
      // $('.examples-descriptions').stop().animate({ height: 400 }, "slow" );

    }, function() {

      // $('.example-description').html("");
      // $('.video').addClass("hidden-video")
      // $('.examples-descriptions').stop().animate({ height: 0 }, "slow" );

    });

        function changeSource(url) {
         source = "https://res.cloudinary.com/dcmqib0ib/video/upload/v1532352822/"+url+".mov";
         $('video').attr('src', source);
         $('video').load();
       };

     </script>
