<div>
  <div id="header" class="wrapper">
    <div class="container">


      <div class="header" style="margin-top: 100px">

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h4>Hi, I'm Nikolai.</h4>
            <h1>I am a venture capitalist and software developer with great passion for design and technology.</h1>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="header-image">
              <%#= cl_image_tag 'nikolai' %>
              <div class="lazy-img" data-src="<%= cl_image_path 'nikolai' %>">
                <%= cl_image_tag 'nikolai', dpr:1.0, width: 200, height: 100, class: "research-card-image blur lazy-global-img-class" %>
                <noscript>
                  <%= cl_image_tag 'nikolai', class:"lazy-global-img-class" %>
                </noscript>
              </div>
              <!-- <div id="parallelogram"></div> -->
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div id="knowledge" class="wrapper">
    <div class="container">
      <h2 class="section-title" style="color: #ff6161; background-color: rgba(255, 97, 97, .1);">What I Do</h2>

      <div class="knowledge-wrapper">
        <div class="row">

          <div class="col-sm-6 col-md-4">
            <div class="knowledge-item-wrapper">
              <%= cl_image_tag 'show-hat-magician-1', class: "knowledge-icon" %>
              <h4>Venture Capital</h4>
              <p>This is a short description</p>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <%= cl_image_tag 'coffee-machine', class: "knowledge-icon" %>
            <h4>Web & App Development</h4>
            <p>This is a short description</p>
          </div>

          <div class="col-sm-6 col-md-4">
            <%= cl_image_tag 'warehouse-cart-packages', class: "knowledge-icon" %>
            <h4>Blockchain Technology</h4>
            <p>This is a short description</p>
          </div>

        </div>
    </div>

  </div>
</div>


<div id="about" class="wrapper">
  <div class="container">
    <h2 class="section-title" style="color: #622aff; background-color: rgba(98, 42, 255, .1);">About Me</h2>
    <div class="about-text">
      <div class="row">

        <div class="col-md-12 col-lg-6">
          <h4 class="text-hover" data-img="one">I am currently working at Signature Ventures. We are one of the leading early stage venture funds dedicated to distributed ledger technology in Europe.</h4>

          <p class="text-hover" data-img="two">I have an <strong>engineering and finance</strong> background. I studied mechanical engineering and business administration with focus on finance and venture capital at the Technical University Munich. I learned <strong>software development</strong> during an intensive coding bootcamp in 2017.</p>
          <p class="text-hover" data-img="three">Since then I have developed a number of own ideas as well as business websites for individuals and corporations. I have published one iOS app in the AppStore and am currently working on the second one.</p>
          <p class="text-hover" data-img="four">Beside studying I have gained over two years work experience in several in several industries including private banking, ecommerce SaaS, and venture capital.</p>
          <p class="text-hover" data-img="five">I have come into contact with <strong>blockchain technology</strong> while learning coding. Afterwards I have significantly deepened my knowledge during supporting the Earlybird Investment team in the area of blockchain and fintech. After writing my bachelor thesis about the intersection between blockchain and <strong>venture capital</strong> I have started working for Signature Ventures. I considerably contributed to building up this venture fund from scratch.</p>
        </div>

        <div class="col-md-12 col-lg-6">
          <%#= cl_image_tag 'nikolai_bw', class: "about-image" %>
          <div class="logo-wrapper">
            <%= cl_image_tag 'tum', :effect=>"colorize", :color=>"#323232", class: "about-logo two" %>
          </div>
          <div class="logo-wrapper">
            <%= cl_image_tag 'lewagon', :effect=>"colorize", :color=>"#323232", class: "about-logo two" %>
          </div>
          <div class="logo-wrapper">
            <%= cl_image_tag 'appstore', :effect=>"colorize", :color=>"#323232", class: "about-logo three", style: "border-radius: 15px;" %>
          </div>
          <div class="logo-wrapper">
            <%= cl_image_tag 'newstore', :effect=>"colorize", :color=>"#323232", class: "about-logo four" %>
          </div>
          <div class="logo-wrapper">
            <%= cl_image_tag 'eb', :effect=>"colorize", :color=>"#323232", class: "about-logo five" %>
          </div>
          <div class="logo-wrapper">
            <%= cl_image_tag 'sv', :effect=>"colorize", :color=>"#323232", class: "about-logo one five" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div id="projects" class="wrapper">
  <div class="container">
    <h2 class="section-title" style="color: #0b9e43; background-color: rgba(11, 158, 67, .1);">My Projects</h2>
    <div class="projects-wrapper">

      <% @projects.each do |project| %>
        <style>
           .<%= project.name %>-card:hover {
              background-color: <%= project.color %>;
            }
        </style>

        <div class="project-card <%= project.name %>-card">
          <div class="row">
            <div class="col-sm-12 col-md-7">
              <div>
                <h3><%= project.title %></h3>
                <p><%= project.description %></p>
                <%#= project.category %>
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <%= cl_image_tag project.name, width: 400 %>
            </div>
          </div>

          <a
            <% if project.link != "" %>
              href="<%= project.link %>"
            <% end %>
          style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;" target="_blank"></a>
        </div>
      <% end %>

    </div>
  </div>
</div>



<div id="contact" class="wrapper">
  <div class="container">
    <h2 class="section-title" style="color: #3270ff; background-color: rgba(50, 112, 255, .1);">Contact Me</h2>

  </div>
</div>



<%= link_to 'Impressum', impressum_path, class: "impressum-link" %>



<script>
  window.addEventListener("load", function() {
    let lazy = document.getElementsByClassName("lazy-img");
    for (let n = 0, len = lazy.length; n < len; n++) {
      lazy[n].children[0].setAttribute("src", lazy[n].getAttribute("data-src"));
      lazy[n].children[0].addEventListener("load", function(e) {
        e.target.classList.add("no-blur");
      });
    }
  });
</script>


<script>
  $('.text-hover').hover(function() {
    console.log($( this ).data( "img" ))
    $(`.${$( this ).data( "img" )}`).toggleClass('image-filter')
  });
</script>
