

<div class="container">

  <div class="content-container">

    <%= cl_image_tag "logo_nikolai_color", id:"logo" %>

    <h2>Nikolai Lambsdorff</h2>
    <p>Investment Manager @ Signature Ventures</p>


    <h2>About</h2>
    <p>I am a venture capitalist and software developer with great passion for design and technology.</p>


    <h2>Work</h2>
    <p>Currently I help building up one of the leading European venture funds for early stage blockchain startups. Previously, I studied business and mechanical engineering and worked as a freelance software engineer.</p>


    <h2>Interests</h2>
    <p>Some of the topics I read and learn a lot about.</p>
    <ul>
      <li><p>Decentralzied protocols</p></li>
      <li><p>Web3</p></li>
      <li><p>Open finance</p></li>
      <li><p>Smart contract development</p></li>
      <li><p>Web & app design</p></li>
    </ul>


    <h2 class="section-title">Projects</h2>
    <p>Some of the projects I have built in my free-time.</p>
    <ul>
      <% @projects.each do |project| %>
        <li>
          <p>
            <% if project.link %>
              <a href="<%= project.link %>" target="_blank">
                <span  style="text-decoration: underline; font-weight: bold;"><%= project.title %></span>
              </a>
            <% else %>
              <span  style="text-decoration: underline; font-weight: bold; color: #000000;"><%= project.title %></span>
            <% end %>
             - <%= project.description %>
          </p>
        </li>
      <% end %>
    </ul>


    <div>
      <h2 class="section-title">Contact</h2>
      <ul class="list-inline contact-list">
        <li>
          <a href="https://www.linkedin.com/in/nikolai-lambsdorff-1b2241b6/" target="_blank"><i class="fab fa-linkedin-in contact-icon"></i></a>
        </li>
        <li>
          <a href="https://medium.com/@nikolailambsdorff" target="_blank"><i class="fab fa-medium-m contact-icon"></i></a>
        </li>
        <li>
          <a href="https://github.com/nikolailambs" target="_blank"><i class="fab fa-github contact-icon"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/niko_lambsdorff" target="_blank"><i class="fab fa-twitter contact-icon"></i></a>
        </li>
      </ul>
    </div>
  </div>

<%= link_to 'Impressum', impressum_path %>


