<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Nikolai Lambsdorff | Developer</title>
  <!-- Google result description-->
  <meta name="description" content="I am a website developer for interactive, responsive and complex websites. I build beautiful front end pages with a very solid back end for the best performance.">
  <!-- facebook meta -->
   <meta property="og:title" content="Nikolai Lambsdorff | Website Developer">
  <meta property="og:description" content="I am a website developer for interactive, responsive and complex websites. I build beautiful front-end pages with a very solid back-end for the best performance.">
  <meta property="og:site_name" content="Nikolai Lambsdorff"/>

  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

</head>
<body>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik|Source+Sans+Pro" rel="stylesheet">
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

  <%= yield %>
</body>
</html>
