<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- HTML Meta Tags -->
  <title>Nikolai Lambsdorff | Website Developer</title>
  <meta name="description" content="I am a website developer for interactive, responsive and komplex websites. I build beautiful front-end pages with a very solid back-end for the best performance.">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Nikolai Lambsdorff | Website Developer">
  <meta itemprop="description" content="I am a website developer for interactive, responsive and komplex websites. I build beautiful front-end pages with a very solid back-end for the best performance.">
  <meta itemprop="image" content="https://res.cloudinary.com/dcmqib0ib/image/upload/v1533235786/anzeige.jpg">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://nikolailambsdorff.herokuapp.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Nikolai Lambsdorff | Website Developer">
  <meta property="og:description" content="I am a website developer for interactive, responsive and komplex websites. I build beautiful front-end pages with a very solid back-end for the best performance.">
  <meta property="og:image" content="https://res.cloudinary.com/dcmqib0ib/image/upload/v1533235786/anzeige.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Nikolai Lambsdorff | Website Developer">
  <meta name="twitter:description" content="I am a website developer for interactive, responsive and komplex websites. I build beautiful front-end pages with a very solid back-end for the best performance.">
  <meta name="twitter:image" content="https://res.cloudinary.com/dcmqib0ib/image/upload/v1533235786/anzeige.jpg">



  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

</head>
<body>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

  <% if current_page?(root_url) %>
    <%= render 'shared/left' %>
    <%= render 'shared/navbar' %>
  <% end %>

  <%= yield %>

</body>
</html>
